---
# - name: Ensure Docker service is running and setup user access
#   include_role:
#     name: common
#     tasks_from: setup_docker_user
#   vars:
#     target_user: "{{ docker_user }}"

- name: Ensure docker networks exist
  community.docker.docker_network:
    name: "{{ network_item }}"
    state: present
  loop:
    - traefik_proxy
    - pangolin_network
  loop_control:
    loop_var: network_item

- name: Get user information
  getent:
    database: passwd
    key: "{{ docker_user }}"

- name: Set UID and GID facts
  set_fact:
    target_uid: "{{ getent_passwd[docker_user][1] }}"
    target_gid: "{{ getent_passwd[docker_user][2] }}"

- name: Create Nextcloud directory
  file:
    path: "{{ item }}"
    state: directory
    owner: "{{ target_uid}}"
    group: "{{ target_gid }}"
    recurse: true
    mode: "0755"
  loop:
    - "{{ nextcloud_db_data_directory }}"
    - "{{ nextcloud_backup_scripts }}"
  tags: nextcloud

- name: Create Nextcloud data directory
  file:
    path: "{{ item }}"
    state: directory
    owner: "www-data"
    group: "www-data"
    recurse: true
    mode: "0755"
  loop:
    - "{{ nextcloud_data_directory }}"
    - "{{ nextcloud_config_directory }}"
    - "{{ nextcloud_local_configs_directory }}"
  tags: nextcloud

- name: Deploy Postgres DB container
  community.docker.docker_container:
    name: nextcloud_db_postgres
    image: postgres:17
    hostname: nextcloud_db_postgres
    user: "{{ target_uid }}:{{ target_gid }}"
    env:
      POSTGRES_DB: "{{ nextcloud_db_name }}"
      POSTGRES_USER: "{{ nextcloud_db_user }}"
      POSTGRES_PASSWORD: "{{ nextcloud_db_password }}"
      # POSTGRES_INITDB_ARGS: "--encoding=UTF-8 --lc-collate=C --lc-ctype=C"
    volumes:
      - "{{ nextcloud_db_data_directory }}:/var/lib/postgresql/data"
    labels:
      com.docker.compose.project: "nextcloud_stack"
      com.docker.compose.service: "nextcloud_db_postgres"
    networks:
      - name: traefik_proxy
    restart_policy: unless-stopped
    state: started
  tags: nextcloud

- name: Wait for PostgreSQL to be ready
  command: >
    docker exec nextcloud_db_postgres pg_isready -U {{ nextcloud_db_user }} -d {{ nextcloud_db_name }}
  register: pg_ready
  changed_when: false
  until: pg_ready.rc == 0
  retries: 30
  delay: 10
  tags: nextcloud

- name: Deploy Redis container
  community.docker.docker_container:
    name: nextcloud_redis
    image: redis:latest
    hostname: nextcloud_redis
    user: "{{ target_uid }}:{{ target_gid }}"
    command: redis-server --requirepass "{{ redis_password }}"
    labels:
      com.docker.compose.project: "nextcloud_stack"
      com.docker.compose.service: "nextcloud_redis"
    networks:
      - name: traefik_proxy
    restart_policy: unless-stopped
    state: started
  tags: nextcloud

- name: Deploy Nextcloud container
  community.docker.docker_container:
    name: nextcloud
    image: nextcloud:latest
    hostname: nextcloud
    # user: "{{ target_uid }}:{{ target_gid }}" # This causes permission issues with www-data user inside container
    env:
      PUID: "{{ target_uid }}"
      PGID: "{{ target_gid }}"
      POSTGRES_HOST: "nextcloud_db_postgres"
      POSTGRES_DB: "{{ nextcloud_db_name }}"
      POSTGRES_USER: "{{ nextcloud_db_user }}"
      POSTGRES_PASSWORD: "{{ nextcloud_db_password }}"
      NC_setup_create_db_user: "false"
      REDIS_HOST: "nextcloud_redis"
      REDIS_HOST_PASSWORD: "{{ redis_password }}"
      NEXTCLOUD_TRUSTED_DOMAINS: "{{ nextcloud_domain }} {{ nextcloud_domain2 }}"
      PHP_UPLOAD_LIMIT: "16G"
      APACHE_BODY_LIMIT: "0"
      TRUSTED_PROXIES: 172.16.0.0/12 192.168.1.0/16 100.0.0.0/8 10.0.0.0/8 fc00::/7 fe80::/10 2001:db8::/32
      OVERWRITEHOST: "{{ nextcloud_domain }}"
      OVERWRITEPROTOCOL: "https"
      OVERWRITECLIURL: "https://{{ nextcloud_domain }}"
    volumes:
      - "{{ nextcloud_local_configs_directory }}:/var/www/html"
      - "{{ nextcloud_config_directory }}:/var/www/html/config"
      - "{{ nextcloud_data_directory }}:/var/www/html/data"
    labels:
      com.docker.compose.project: "nextcloud_stack"
      com.docker.compose.service: "nextcloud"
      traefik.enable: "true"
      traefik.http.routers.nextcloud-secure.entrypoints: "https"
      traefik.http.routers.nextcloud-secure.rule: "Host(`{{ nextcloud_domain }}`)"
      traefik.http.routers.nextcloud-secure.tls: "true"
      traefik.http.routers.nextcloud-secure.service: "nextcloud"
      traefik.http.services.nextcloud.loadbalancer.server.port: "80"
      traefik.docker.network: "traefik_proxy"
    networks:
      - name: traefik_proxy
      - name: pangolin_network
    restart_policy: unless-stopped
    state: started
  tags: nextcloud


- name: Include common backup task to backup postgres db
  include_role:
    name: common
    tasks_from: db_backup_image
  vars:
    db_backup_app_name: "nextcloud"
    container_name_running_postgresdb: "nextcloud_db_postgres"
    db_backup_retain_for_days: "7"
    db_to_backup_name: "{{ nextcloud_db_name }}"
    db_to_backup_user: "{{ nextcloud_db_user }}"
    db_to_backup_password: "{{ nextcloud_db_password }}"
    backup_schedule_cron: "0 3 * * *"
    notification_message_subject: "nextcloud DB backup"
  when: nextcloud_backup_db | default(false)
  tags: nextcloud

- name: Wait for 10 seconds for DB backup to finish
  pause:
    seconds: 10
  when: nextcloud_backup_db | default(false) and nextcloud_restore_db | default(false)
  tags: linkwarden

- name: Restore PostgreSQL database from backup
  include_role:
    name: common
    tasks_from: postgresdb_restore
  vars:
    postgres_restore_base_path: "{{ nextcloud_backup_scripts }}"
    pg_backup_directory: "{{ nextcloud_base_directory }}/db_backups/"
    pg_database: "{{ nextcloud_db_name }}"
    pg_host: "nextcloud_db_postgres"
    pg_port: 5432
    pg_user: "{{ nextcloud_db_user }}"
    pg_password: "{{ nextcloud_db_password }}"
    pg_drop_before_restore: true
  when: nextcloud_restore_db | default(false)
  tags: nextcloud

- name: Restart containers
  community.docker.docker_container:
    name: "{{ item }}"
    state: started
    restart: true
  loop:
    - nextcloud_db_postgres
    - nextcloud_redis
    - nextcloud
  when: nextcloud_restore_db | default(false)
  tags: nextcloud

- name: Display success message
  debug:
    msg: "Nextcloud with Redis cache has been successfully deployed!"
  tags: nextcloud
