---
- name: Ensure Docker service is running
  service:
    name: docker
    state: started
    enabled: true

- name: Check if networks exist
  command: docker network inspect {{ item }}
  register: network_check
  failed_when: network_check.rc != 0
  changed_when: false
  loop:
    - traefik_proxy
    - pangolin_network

- name: Create directories for Immich
  file:
    path: "{{ item }}"
    state: directory
    owner: "www-data"
    group: "www-data"
    mode: "0755"
  loop:
    - "{{ upload_location }}"
    - "{{ db_data_location }}"
    - "{{ immich_compose_dir }}"
    - "{{ immich_cloud_base_path }}"
    - "{{ immich_tmp_dir }}"
    - "{{ immich_thumbs_dir }}"
    - "{{ immich_encoded_video_dir }}"

- name: Check if .immich exists
  ansible.builtin.stat:
    path: "{{ immich_thumbs_dir }}/.immich"
  register: thumb_immich_marker

- name: Create .immich only if absent
  ansible.builtin.file:
    path: "{{ immich_thumbs_dir }}/.immich"
    state: touch
    owner: root
    group: root
    mode: "0644"
  when: not thumb_immich_marker.stat.exists

- name: Check if .immich exists
  ansible.builtin.stat:
    path: "{{ immich_encoded_video_dir }}/.immich"
  register: ev_immich_marker

- name: Create .immich only if absent
  ansible.builtin.file:
    path: "{{ immich_encoded_video_dir }}/.immich"
    state: touch
    owner: root
    group: root
    mode: "0644"
  when: not ev_immich_marker.stat.exists

- name: Delete compose file if it exists
  ansible.builtin.file:
    path: "{{ immich_compose_dir }}/docker-compose.yml"
    state: absent

- name: Download Immich Docker Compose file
  get_url:
    url: "https://github.com/immich-app/immich/releases/latest/download/docker-compose.yml"
    dest: "{{ immich_compose_dir }}/docker-compose.yml"
    owner: root
    group: root
    mode: '0644'

- name: Insert labels after '2283:2283' line
  replace:
    path: "{{ immich_compose_dir }}/docker-compose.yml"
    regexp: "(^\\s*-\\s*'2283:2283'\\s*$)"
    replace: |
      \1
      {{ ' ' * 4 }}labels:
      {{ ' ' * 4 }}  traefik.enable: true
      {{ ' ' * 4 }}  traefik.http.routers.immich.entrypoints: https
      {{ ' ' * 4 }}  traefik.http.routers.immich.rule: Host(`{{ immich_domain }}`)
      {{ ' ' * 4 }}  traefik.http.routers.immich.tls: true
      {{ ' ' * 4 }}  traefik.http.routers.immich.service: immich
      {{ ' ' * 4 }}  traefik.http.services.immich.loadbalancer.server.port: 2283
      {{ ' ' * 4 }}  traefik.docker.network: "traefik_proxy"
      # {{ ' ' * 4 }}  tsdproxy.enable: true
      # {{ ' ' * 4 }}  tsdproxy.name: immich
      # {{ ' ' * 4 }}  tsdproxy.scheme: http
      # {{ ' ' * 4 }}  tsdproxy.tlsvalidate: false
      # {{ ' ' * 4 }}  tsdproxy.container_port: 2283

- name: Insert Traefik network
  replace:
    path: "{{ immich_compose_dir }}/docker-compose.yml"
    regexp: "^(.*restart: always.*)$"
    replace: |
      \1
      {{ ' ' * 4 }}networks:
      {{ ' ' * 4 }}  - traefik_proxy
      {{ ' ' * 4 }}  - pangolin_network

- name: Insert external storage path.
  lineinfile:
    path: "{{ immich_compose_dir }}/docker-compose.yml"
    insertafter: '\$\{UPLOAD_LOCATION\}:/data'
    line: "      {{ item }}"
  loop:
    - "- ${EXTERNAL_STORAGE_PATH}:/datastorage"
    - "- ${ENCODED_VIDEO_LOCATION}:/data/encoded-video"
    - "- ${THUMB_LOCATION}:/data/thumbs"

- name: Insert networks configuration at the end of the file
  lineinfile:
    path: "{{ immich_compose_dir }}/docker-compose.yml"
    line: |
      networks:
        traefik_proxy:
          external: true
        pangolin_network:
          external: true
    insertafter: EOF

- name: Remove 'name' field from Docker Compose file
  replace:
    path: "{{ immich_compose_dir }}/docker-compose.yml"
    regexp: '^name:.*\n'
    replace: ''

- name: Replace 'start_interval' with 'interval' in database healthcheck
  replace:
    path: "{{ immich_compose_dir }}/docker-compose.yml"
    regexp: '^\\s*start_interval:.*\\n'
    replace: ''

- name: Create .env file for Immich
  copy:
    dest: "{{ immich_compose_dir }}/.env"
    content: |
      EXTERNAL_STORAGE_PATH={{ immich_external_library_path }}
      UPLOAD_LOCATION={{ upload_location }}
      THUMB_LOCATION={{ immich_thumbs_dir }}
      ENCODED_VIDEO_LOCATION={{ immich_encoded_video_dir }}
      DB_DATA_LOCATION={{ db_data_location }}
      DB_PASSWORD={{ immich_db_password }}
      DB_USERNAME={{ immich_db_username }}
      DB_DATABASE_NAME={{ immich_db_name }}
      IMMICH_VERSION={{ immich_version }}
    owner: root
    group: root
    mode: '0644'

- name: Check if Immich container is running
  command: docker ps -q --filter "name=immich_server"
  register: immich_running
  changed_when: false

- name: Validate Docker Compose file
  command:
    cmd: docker compose config
    chdir: "{{ immich_compose_dir }}"
  register: compose_validation
  failed_when: compose_validation.rc != 0
  changed_when: true
  when: immich_running.stdout == ""

- name: Restart Docker Compose stack with project name 'immich'
  command:
    cmd: docker compose -p immich up -d
    chdir: "{{ immich_compose_dir }}"
  changed_when: true
  when: immich_running.stdout == ""

- name: Include common backup task to backup postgres db
  include_role:
    name: common
    tasks_from: db_backup_image
  vars:
    db_backup_app_name: "immich"
    container_name_running_postgresdb: "immich_postgres"
    db_backup_retain_for_days: "10"
    db_to_backup_name: "{{ immich_db_name }}"
    db_to_backup_user: "{{ immich_db_username }}"
    db_to_backup_password: "{{ immich_db_password }}"
    backup_schedule_cron: "0 1 * * *"
    notification_message_subject: "Immich DB backup"
  when: immich_backup_db | default(false)
  tags: immich

- name: Restore PostgreSQL database from backup
  include_role:
    name: common
    tasks_from: postgresdb_restore
  vars:
    postgres_restore_base_path: "{{ immich_tmp_dir }}"
    pg_backup_directory: "{{ immich_cloud_base_path }}/db_backups/"
    # pg_backup_directory: "{{ immich_auto_backup_directory }}/"
    pg_database: "{{ immich_db_name }}"
    pg_host: "immich_postgres"
    pg_port: 5432
    pg_user: "{{ immich_db_username }}"
    pg_password: "{{ immich_db_password }}"
    pg_drop_before_restore: true
    is_immich: false
  when: immich_restore_db | default(false)
  tags: immich

- name: Restart containers
  community.docker.docker_container:
    name: "{{ item }}"
    state: started
    restart: true
  loop:
    - immich_postgres
    - immich_redis
    - immich_machine_learning
    - immich_server
  when: immich_restore_db | default(false)
  tags: immich

- name: Display Immich status
  debug:
    msg: "Immich is running successfully"
