---
- name: Ensure Docker service is running
  service:
    name: docker
    state: started
    enabled: yes

- name: Check if networks exist
  command: docker network inspect {{ item }}
  register: network_check
  failed_when: network_check.rc != 0
  changed_when: false
  loop: 
    - traefik_proxy
    - pangolin_network

- name: Ensure required directories exist
  file:
    path: "{{ item }}"
    state: directory
    owner: "nobody"
    group: "nogroup"
    recurse: true
    mode: "0755"
  loop:
    - "{{ aria2_pro_config }}"
    - "{{ media_data_path }}/downloads/aria"

- name: Deploy Aria2-AriaNG container
  docker_container:
    name: aria
    image: hurlenko/aria2-ariang
    hostname: aria
    # user: "nobody:nogroup" # This will cause error.
    env:
      PUID: "65534"
      PGID: "65534"
      RPC_SECRET: "{{ aria2_pro_secret }}"
      ARIA2RPCPORT: "443"
      XDG_CONFIG_HOME: "/aria2/conf"
      XDG_DATA_HOME: "/aria2/conf"
      XDG_CACHE_HOME: "/aria2/conf/cache"
    volumes:
      - "{{ aria2_pro_config }}:/aria2/conf"
      - "{{ media_data_path }}/downloads/aria:/aria2/data"
    # ports:
    #  - 443:8080
    labels:
      com.docker.compose.project: "media_stack"
      com.docker.compose.service: "aria"
      traefik.enable: "true"
      traefik.http.routers.aria-secure.entrypoints: "https"
      traefik.http.routers.aria-secure.rule: "Host(`{{ aria_domain }}`)"
      traefik.http.routers.aria-secure.tls: "true"
      traefik.http.routers.aria-secure.middlewares: "authentik@file"
      traefik.http.routers.aria.service: "aria"
      traefik.http.services.aria.loadbalancer.server.port: "8080"
      traefik.docker.network: "traefik_proxy"
    networks:
      - name: traefik_proxy
      - name: pangolin_network
    restart_policy: unless-stopped
    state: started

- name: Combined Aria2 and AriaNG deployed
  debug:
    msg: "Aria2 is running successfully"

