---
- name: Ensure Docker service is running
  service:
    name: docker
    state: started
    enabled: yes

- name: Check if networks exist
  command: docker network inspect {{ item }}
  register: network_check
  failed_when: network_check.rc != 0
  changed_when: false
  loop: 
    - traefik_proxy
    - pangolin_network

- name: Create directories for Radarr
  file:
    path: "{{ item }}"
    state: directory
    owner: "nobody"
    group: "nogroup"
    recurse: true
    mode: "0755"
  loop:
    - "{{ radarr_config }}"
    - "{{ radarr_logs }}"
    - "{{ radarr_metadata }}"
    - "{{ media_data_path }}"
    - "{{ media_data_path }}/movies"
    - "{{ media_data_path }}/downloads"

- name: Deploy Radarr container
  docker_container:
    name: radarr
    image: lscr.io/linuxserver/radarr:latest
    user: "nobody:nogroup"
    env:
      PUID: "65534"
      PGID: "65534"
      TZ: "GB"
    volumes:
      - "{{ radarr_config }}:/config"
      - "{{ radarr_logs }}:/config/logs"
      - "{{ radarr_metadata }}:/config/MediaCover"
      - "{{ media_data_path }}/movies:/movies"
      - "{{ media_data_path }}/downloads:/downloads"
    labels:
      com.docker.compose.project: "media_stack"
      com.docker.compose.service: "radarr"
      traefik.enable: "true"
      traefik.http.routers.radarr-secure.entrypoints: "https"
      traefik.http.routers.radarr-secure.rule: "Host(`{{ radarr_domain }}`)"
      traefik.http.routers.radarr-secure.tls: "true"
      traefik.http.routers.radarr.service: "radarr"
      traefik.http.services.radarr.loadbalancer.server.port: "7878"
      traefik.docker.network: "traefik_proxy"
      # tsdproxy.enable: "true"
      # tsdproxy.name: "radarr"
      # tsdproxy.scheme: "http"
      # tsdproxy.tlsvalidate: "false"
      # tsdproxy.container_port: "7878"
    networks:
      - name: traefik_proxy
      - name: pangolin_network
    restart_policy: unless-stopped
    state: started

- name: Fix folder ownership
  shell: "sudo docker exec -it radarr chown nobody:nogroup {{ item }}"
  loop:
    - "/movies"
    - "/downloads"

- name: Radarr deployed
  debug:
    msg: "Radarr is running successfully"
