- name: Ensure Docker service is running
  service:
    name: docker
    state: started
    enabled: yes

- name: Check if networks exist
  command: docker network inspect {{ item }}
  register: network_check
  failed_when: network_check.rc != 0
  changed_when: false
  loop: 
    - traefik_proxy
    - pangolin_network

- name: Create directories for Jellyseerr
  file:
    path: "{{ item }}"
    state: directory
    owner: "nobody"
    group: "nogroup"
    recurse: true
    mode: "0755"
  loop:
    - "{{ jellyseerr_config }}"
    - "{{ jellyseerr_cache }}"
    - "{{ jellyseerr_logs }}"

- name: Deploy Jellyseerr container
  docker_container:
    name: jellyseerr
    image: fallenbagel/jellyseerr:latest
    user: "nobody:nogroup"
    env:
      LOG_LEVEL: "debug"
      TZ: "GB"
    volumes:
      - "{{ jellyseerr_config }}:/app/config"
      - "{{ jellyseerr_cache }}:/app/config/cache"
      - "{{ jellyseerr_logs }}:/app/config/logs"
    labels:
      com.docker.compose.project: "media_stack"
      com.docker.compose.service: "jellyseerr"
      traefik.enable: "true"
      traefik.http.routers.jellyseerr-secure.entrypoints: "https"
      traefik.http.routers.jellyseerr-secure.rule: "Host(`{{ jellyseerr_domain }}`)"
      traefik.http.routers.jellyseerr-secure.tls: "true"
      traefik.http.routers.jellyseerr.service: "jellyseerr"
      traefik.http.services.jellyseerr.loadbalancer.server.port: "5055"
      traefik.docker.network: "traefik_proxy"
      # tsdproxy.enable: "true"
      # tsdproxy.name: "jellyseerr"
      # tsdproxy.scheme: "http"
      # tsdproxy.tlsvalidate: "false"
      # tsdproxy.container_port: "5055"
    networks:
      - name: traefik_proxy
      - name: pangolin_network
    restart_policy: unless-stopped
    state: started

- name: Jellyseerr deployed
  debug:
    msg: "Jellyseerr is running successfully"
