---
- name: Ensure Docker service is running
  service:
    name: docker
    state: started
    enabled: true

- name: Create Pangolin network if it does not exist
  community.docker.docker_network:
    name: pangolin_network
    state: present

- name: Deploy Pangolin_Newt container
  community.docker.docker_container:
    name: newt
    image: fosrl/newt
    env:
      PANGOLIN_ENDPOINT: "{{ pangolin_endpoint }}"
      NEWT_ID: "{{ pangolin_newt_id }}"
      NEWT_SECRET: "{{ pangolin_newt_secret }}"
    labels:
      com.docker.compose.project: "pangolin_stack"
      com.docker.compose.service: "newt"
    networks:
      - name: pangolin_network
    restart_policy: unless-stopped
    state: started

- name: Pangolin_Newt deployed
  debug:
    msg: "Pangolin_Newt is running successfully"
