---
# - name: Update and generate SSL files
#   hosts: pvehomelab
#   become: true
#   gather_facts: true

#   roles:
#     # - basics
#     # - storager_drive
#     # - snapraid
#     # - mergerfs
#     # - openssl_generate_certificate # don't need now
#     - docker

- name: Install all apps
  hosts: pvehomelab
  become: true
  gather_facts: false

  roles:
    # - role: install_tsdproxy_tailscale # don't need now
    # - role: cloudflare_tunnel # don't need now
    # IMPORTANT: Need to remove subdomains *.kelovate.online and kelovate.online from local DNS resolver.
    # Need to create an A record in Cloudflare pointing to any IP(192.168.8.3)
    # Wait until certificates are generated. command: "docker logs traefik"
    # - role: cloud_sync_cron # don't need now
    # - role: samba_share
    # - role: pangolin_newt
    # New backup and restore roles included
    # - role: install_homarr
    # - role: install_linkwarden
    # - role: install_docmost
    - role: install_immich
    # - role: install_matrix_synapse
    # - role: install_media_packages
    # - role: install_n8n
    #   vars:
    #     host_type: "local"  # options: local, vps
    # - role: install_nextcloud
    # - role: install_portainer
    # - role: install_rclone
    # - role: install_syncthing
    # - role: install_traefik
    # - role: install_uptimeKuma
    # - role: snapraid # Carefull! this creates subvolumes and does initial sync.
    # - role: mergerfs # Carefull! this will unmount and remount storage drives.
    # - role: postgresql
    # - role: rustdesk # installed in VPS
    # - role: system_monitoring

# - name: Install node_exporter for Proxmox host resource monitor with Grafana
#   hosts: proxmoxhost
#   become: true
#   gather_facts: false

#   roles:
#     - proxmox_host_resource_monitor_grafana
