---
# - name: Ensure Docker service is running and setup user access
#   include_role:
#     name: common
#     tasks_from: setup_docker_user
#   vars:
#     target_user: "{{ docker_user }}"

- name: Ensure docker networks exist
  community.docker.docker_network:
    name: "{{ network_item }}"
    state: present
  loop:
    - traefik_proxy
    - pangolin_network
  loop_control:
    loop_var: network_item

- name: Get user information
  getent:
    database: passwd
    key: "{{ docker_user }}"

- name: Set UID and GID facts
  set_fact:
    target_uid: "{{ getent_passwd[docker_user][1] }}"
    target_gid: "{{ getent_passwd[docker_user][2] }}"

- name: Create directories for UptimeKuma
  file:
    path: "{{ item }}"
    state: directory
    owner: "{{ target_uid}}"
    group: "{{ target_gid }}"
    recurse: true
    mode: "0755"
  loop:
    - "{{ uptimekuma_data_path }}"
  
- name: Stat docker socket
  become: true
  ansible.builtin.stat:
    path: /var/run/docker.sock
  register: docker_sock

- name: Deploy UptimeKuma container
  community.docker.docker_container:
    name: uptimekuma
    image: louislam/uptime-kuma:2.0.2
    user: "{{ target_uid }}:{{ target_gid }}"
    groups:
      - "{{ docker_sock.stat.gid }}"
    security_opts:
      - "no-new-privileges:true"
    volumes:
      - "{{ uptimekuma_data_path }}:/app/data"
    labels:
      com.docker.compose.project: "uptimekuma_stack"
      com.docker.compose.service: "uptimekuma"
      traefik.enable: "true"
      traefik.http.routers.uptimekuma-secure.entrypoints: "https"
      traefik.http.routers.uptimekuma-secure.rule: "Host(`{{ uptimekuma_domain }}`)"
      traefik.http.routers.uptimekuma-secure.tls: "true"
      traefik.http.routers.uptimekuma.service: "uptimekuma"
      traefik.http.services.uptimekuma.loadbalancer.server.port: "3001"
      traefik.docker.network: "traefik_proxy"
      # tsdproxy.enable: "true"
      # tsdproxy.name: "uptimekuma"
      # tsdproxy.scheme: "http"
      # tsdproxy.tlsvalidate: "false"
      # tsdproxy.container_port: "3001"
    networks:
      - name: traefik_proxy
      - name: pangolin_network
    restart_policy: unless-stopped
    state: started

- name: UptimeKuma deployed
  debug:
    msg: "UptimeKuma is running successfully"
