---

- name: Ensure Docker service is running
  service:
    name: docker
    state: started
    enabled: true

- name: Ensure external networks exist
  community.docker.docker_network:
    name: traefik_proxy
    state: present
    internal: false
    driver: bridge

- name: Create Portainer directories
  file:
    path: "{{ item }}"
    state: directory
    owner: "www-data"
    group: "www-data"
    mode: "0755"
  loop:
    - "{{ portainer_data }}"

- name: Deploy Portainer
  community.docker.docker_container:
    name: portainer
    image: portainer/portainer-ce:latest
    ports:
      # - "9443:9443"
      # - "9000:9000"
      - "8000:8000"
    volumes:
      - "/var/run/docker.sock:/var/run/docker.sock"
      - "{{ portainer_data }}:/data"
    labels:
      com.docker.compose.project: "portainer_stack"
      com.docker.compose.service: "portainer"
      traefik.enable: "true"
      traefik.http.routers.portainer-secure.entrypoints: "https"
      traefik.http.routers.portainer-secure.rule: "Host(`{{ portainer_domain }}`)"
      traefik.http.routers.portainer-secure.tls: "true"
      traefik.http.routers.portainer-secure.service: "portainer"
      traefik.http.services.portainer.loadbalancer.server.port: "9000"
      # tsdproxy.enable: "true"
      # tsdproxy.name: "portainer"
      # tsdproxy.scheme: "http"
      # tsdproxy.tlsvalidate: "false"
    networks:
      - name: traefik_proxy
    restart_policy: always
    state: started

- name: Portainer deployed
  debug:
    msg: "Portainer is running successfully"
