---

# - name: Ensure Docker service is running and setup user access
#   include_role:
#     name: common
#     tasks_from: setup_docker_user
#   vars:
#     target_user: "{{ docker_user }}"

- name: Ensure docker networks exist
  community.docker.docker_network:
    name: "{{ network_item }}"
    state: present
  loop:
    - traefik_proxy
    - pangolin_network
  loop_control:
    loop_var: network_item

- name: Get user information
  getent:
    database: passwd
    key: "{{ docker_user }}"

- name: Set UID and GID facts
  set_fact:
    target_uid: "{{ getent_passwd[docker_user][1] }}"
    target_gid: "{{ getent_passwd[docker_user][2] }}"


- name: Create Portainer directories
  file:
    path: "{{ item }}"
    state: directory
    owner: "{{ target_uid}}"
    group: "{{ target_gid }}"
    recurse: true
    mode: "0755"
  loop:
    - "{{ portainer_data }}"

- name: Stat docker socket
  become: true
  ansible.builtin.stat:
    path: /var/run/docker.sock
  register: docker_sock

- name: Deploy Portainer
  community.docker.docker_container:
    name: portainer
    image: portainer/portainer-ce:latest
    user: "{{ target_uid }}:{{ target_gid }}"
    groups:
      - "{{ docker_sock.stat.gid }}"
    # ports:
      # - "9443:9443"
      # - "9000:9000"
      # - "8000:8000"
    volumes:
      - "/var/run/docker.sock:/var/run/docker.sock"
      - "{{ portainer_data }}:/data"
    labels:
      com.docker.compose.project: "portainer_stack"
      com.docker.compose.service: "portainer"
      traefik.enable: "true"
      traefik.http.routers.portainer-secure.entrypoints: "https"
      traefik.http.routers.portainer-secure.rule: "Host(`{{ portainer_domain }}`)"
      traefik.http.routers.portainer-secure.tls: "true"
      traefik.http.routers.portainer-secure.service: "portainer"
      traefik.http.services.portainer.loadbalancer.server.port: "9000"
      # tsdproxy.enable: "true"
      # tsdproxy.name: "portainer"
      # tsdproxy.scheme: "http"
      # tsdproxy.tlsvalidate: "false"
    networks:
      - name: traefik_proxy
    restart_policy: always
    state: started

- name: Portainer deployed
  debug:
    msg: "Portainer is running successfully"
