---
- name: Ensure Docker service is running
  service:
    name: docker
    state: started
    enabled: true

- name: Deploy Watchtower
  community.docker.docker_container:
    name: watchtower
    image: containrrr/watchtower
    command: "0 0 4 * * *"
    volumes:
      - "/var/run/docker.sock:/var/run/docker.sock"
    restart_policy: always

- name: Watchtower deployed
  debug:
    msg: "Watchtower is running successfully"
