---
- name: Ensure Docker service is running
  service:
    name: docker
    state: started
    enabled: true

- name: Ensure external networks exist
  community.docker.docker_network:
    name: "{{ item }}"
    state: present
    internal: false
    driver: bridge
  loop:
    - traefik_proxy
    - pangolin_network

- name: Create Syncthing directories
  file:
    path: "{{ item }}"
    state: directory
    owner: "www-data"
    group: "www-data"
    mode: "0755"
  loop:
    - "{{ syncthing_config }}"
    - "{{ syncthing_data1 }}"
    - "{{ syncthing_data2 }}"

- name: Deploy Syncthing container
  community.docker.docker_container:
    name: syncthing
    image: lscr.io/linuxserver/syncthing:latest
    hostname: syncthing
    env:
      PUID: "1000"
      PGID: "1000"
      TZ: "GB"
    volumes:
      - "{{ syncthing_config }}:/config"
      - "{{ syncthing_data1 }}:/data1"
      - "{{ syncthing_data2 }}:/data2"
    ports:
      # - "8384:8384"
      - "22000:22000/tcp"
      - "22000:22000/udp"
      - "21027:21027/udp"
    labels:
      com.docker.compose.project: "syncthing_stack"
      com.docker.compose.service: "syncthing"
      traefik.enable: "true"
      traefik.http.routers.syncthing-secure.entrypoints: "https"
      traefik.http.routers.syncthing-secure.rule: "Host(`{{ syncthing_domain }}`)"
      traefik.http.routers.syncthing-secure.tls: "true"
      traefik.docker.network: "traefik_proxy"
      # tsdproxy.enable: "true"
      # tsdproxy.name: "syncthing"
      # tsdproxy.scheme: "https"
      # tsdproxy.tlsvalidate: "false"
      # tsdproxy.container_port: "8384"
    networks:
      - name: traefik_proxy
      - name: pangolin_network
    restart_policy: unless-stopped
    state: started

- name: Syncthing deployed
  debug:
    msg: "Syncthing is running successfully"
