---
# - name: Ensure Docker service is running and setup user access
#   include_role:
#     name: common
#     tasks_from: setup_docker_user
#   vars:
#     target_user: "{{ docker_user }}"

- name: Ensure docker networks exist
  community.docker.docker_network:
    name: "{{ network_item }}"
    state: present
  loop:
    - traefik_proxy
    - pangolin_network
  loop_control:
    loop_var: network_item

- name: Get user information
  getent:
    database: passwd
    key: "{{ docker_user }}"

- name: Set UID and GID facts
  set_fact:
    target_uid: "{{ getent_passwd[docker_user][1] }}"
    target_gid: "{{ getent_passwd[docker_user][2] }}"

- name: Ensure FUSE is installed
  apt:
    name: fuse3
    state: present
  tags: rclone

- name: Create directories for RClone
  file:
    path: "{{ item }}"
    state: directory
    owner: "{{ target_uid}}"
    group: "{{ target_gid }}"
    recurse: true
    mode: "0755"
  loop:
    - "{{ rclone_config_path }}"
    - "{{ rclone_home_path }}"
  tags: rclone

- name: Create RClone config file from template
  template:
    src: templates/rclone.conf.j2
    dest: "{{ rclone_config_path }}/rclone.conf"
  tags: rclone


- name: Deploy RClone container
  community.docker.docker_container:
    name: rclone
    image: rclone/rclone:latest
    # user: "{{ target_uid }}:{{ target_gid }}"  # This will not work because non root use cannot run crontab inside container
    env:
      PHP_TZ: "Europe/London"
      HOME: "/data/home"
    security_opts:
      - "no-new-privileges:true"
    volumes:
      - "{{ rclone_config_path }}:/config/rclone"
      - "{{ rclone_home_path }}:/data/home"
      - "{{ rclone_nas_storage_path }}:/datastorage"
      - "{{ rclone_nas_app_storage_path }}:/appstorage"
    devices:
      - /dev/fuse
    command: |
      rcd --rc-web-gui --rc-addr 0.0.0.0:5572
      --rc-web-fetch-url=https://api.github.com/repos/rclone/rclone-webui-react/releases/latest
      --rc-web-gui-update
      --rc-user {{ rclone_username }}
      --rc-pass {{ rclone_password }}
      -vv --checksum
      --transfers=4 --checkers=4 --contimeout=60s --timeout=300s --retries=3
      --low-level-retries=10 --stats=1s --stats-file-name-length=0
    labels:
      com.docker.compose.project: "rclone_stack"
      com.docker.compose.service: "rclone"
      traefik.enable: "true"
      traefik.http.routers.rclone-secure.entrypoints: "https"
      traefik.http.routers.rclone-secure.rule: "Host(`{{ rclone_domain }}`)"
      traefik.http.routers.rclone-secure.tls: "true"
      traefik.http.routers.rclone.service: "rclone"
      traefik.http.services.rclone.loadbalancer.server.port: "5572"
      # tsdproxy.enable: "true"
      # tsdproxy.name: "rclone"
      # tsdproxy.scheme: "http"
      # tsdproxy.tlsvalidate: "false"
      # tsdproxy.container_port: "5572"
    networks:
      - name: pangolin_network
      - name: traefik_proxy
    restart_policy: unless-stopped
    state: started
  tags: rclone

- name: Include common backup task run cron job to sync data in PCloud
  include_role:
    name: common
    tasks_from: cronjob
  vars:
    app_name: "rclone_storage"
    cron_schedule: "45 1 * * *"
    cron_script_to_run: >-
      docker exec rclone rclone copy -P /datastorage PCloud:/DataStorage/
      --min-age 5m --ignore-errors --retries 1 --ignore-existing --fast-list
      --multi-thread-streams 1 --ignore-errors --size-only --checksum
      --exclude "Immich/backups/**" --metadata
    notification_message: "Sync Storage to PCloud"
  tags: rclone

- name: Include common backup task run cron job to sync APP data in PCloud
  include_role:
    name: common
    tasks_from: cronjob
  vars:
    app_name: "rclone_apps"
    cron_schedule: "0 2 * * *"
    cron_script_to_run: >-
      docker exec rclone rclone copy -P /appstorage PCloud:/Apps/
      --copy-links --min-age 5m --ignore-errors --retries 1 --ignore-existing
      --fast-list --multi-thread-streams 1 --ignore-errors --size-only --checksum
    notification_message: "Sync App Storage to PCloud"
  tags: rclone

- name: RClone deployed
  debug:
    msg: "RClone is running successfully"
  tags: rclone
