# SnapRAID configuration file

# Parity file location
parity {{ parity_disk }}/snapraid.parity

# Content file location(s)
# content {{ snapraid_content_path }}/snapraid.content
{% for disk in data_disks %}
content {{ disk.path }}/content_subvolume/snapraid.content
{% endfor %}

# Data disks
{% for disk in data_disks %}
disk {{ disk.name }} {{ disk.path }}
{% endfor %}

# Excludes
exclude *.bak
exclude *.tmp
exclude /tmp/
exclude /lost+found/
exclude .snapshots/

# Block size in KiB (default: 256)
block_size 256

# Automatically save state after syncing
autosave 720
