[ v3_req ]
subjectAltName = @alt_names

[ alt_names ]
{% for dns in openssl_server_dns_names %}
DNS.{{ loop.index }} = {{ dns }}
{% endfor %}
{% for ip in openssl_server_ip_addresses %}
IP.{{ loop.index }} = {{ ip }}
{% endfor %}
