[GoogleDrive]
type = drive
scope = drive
token = {"access_token":"{{google_drive_access_token}}","token_type":"Bearer","refresh_token":"1//03DPjD3X71M95CgYIARAAGAMSNgF-L9Irz-VwEeFfosWlVxiGz6VwYynlf1sxLaotpoIlmJAi2wINiI1C7vT5M7WZuW31pH1a1g","expiry":"2025-02-14T11:57:49.4537521Z"}
team_drive = 

[GooglePhotos]
type = google photos
token = {"access_token":"{{google_photos_access_token}}","token_type":"Bearer","refresh_token":"1//03traa8o9xv3DCgYIARAAGAMSNgF-L9IrI80uW9JnRob5dPir02O9XxbJaOApD7ansKn1xew_OQQrsXFBPvgWu0kMTegq9NT9Cg","expiry":"2025-02-14T12:06:17.5608842Z"}

[PCloud]
type = pcloud
hostname = eapi.pcloud.com
token = {"access_token":"{{pcloud_access_token}}","token_type":"bearer","expiry":"0001-01-01T00:00:00Z"}

[SushmoyGooglePhotosMyTV4kk2]
type = google photos
token = {"access_token":"{{su_google_photos_tv_access_token}}","token_type":"Bearer","refresh_token":"1//03xkbqTmu097rCgYIARAAGAMSNwF-L9IrHomUz6s2ifldrLxkHfEZVwAJYDIoWOd5bxEUxAzhlvOz5h6c4qbAS2VGyxnAgVTAKN0","expiry":"2025-04-03T22:40:02.807812601Z"}

[Sushmoy2GooglePhotos]
type = google photos
token = {"access_token":"{{su2_google_photos_access_token}}","token_type":"Bearer","refresh_token":"1//0g3DbPdJtChMlCgYIARAAGBASNwF-L9IrNNZbye2bHEWeUKSZqcIudIk6Tz8ImZxOxKp3ehAoKGIvpuQrdMUNlqtqzjpHqAIRnGM","expiry":"2025-04-03T22:36:05.47497698Z"}

[Sushmoy12GP]
type = google photos
token = {"access_token":"{{su12_google_photos_access_token}}","token_type":"Bearer","refresh_token":"1//03661G8ZrjDIICgYIARAAGAMSNwF-L9IrQzX3I3pVh5cBLgZX_q90UCzbS-oeBnPwVQHsyioA-k9AycXz_unl1QpdGb5TSrwsmBQ","expiry":"2025-04-04T10:59:14.454192766Z"}
