monitoring_base_path: "{{ base_app_storage_path }}/system_monitoring"
prometheus_cloud_base: "{{ monitoring_base_path }}/prometheus"
prometheus_cloud_config: "{{ prometheus_cloud_base }}/config"

grafana_cloud_base: "{{ monitoring_base_path }}/grafana"
grafana_cloud_config: "{{ grafana_cloud_base }}/config"

monitoring_local_path: "{{ base_local_ssd_storage_path }}/system_monitoring"
prometheus_local_base: "{{ monitoring_local_path }}/prometheus"
prometheus_local_data: "{{ prometheus_local_base }}/data"
prometheus_local_scripts: "{{ prometheus_local_base }}/scripts"

prometheus_domain: "prometheus.{{ subdomain }}"
grafana_domain: "grafana.{{ subdomain }}"
cadvisor_domain: "cadvisor.{{ subdomain }}"
nodeexporter_domain: "nodeexporter.{{ subdomain }}"
proxmox_host: "192.168.8.2:9100"

grafana_matrix_forwarder_port: 5000
grafana_matrix_user: "@homelab:matrix.{{ subdomain }}"
grafana_matrix_password: "{{ vm_password }}"
grafana_matrix_homeserver: "https://matrix.{{ subdomain }}"
