PORT=8080
APP_ENV={{db_converter_and_sync_app_environment}}

# Postgres Database Configuration
POSTGRES_HOST={{db_converter_and_sync_sql_host}}
POSTGRES_PORT={{db_converter_and_sync_sql_port}}
POSTGRES_USER={{db_converter_and_sync_sql_user}}
POSTGRES_PASSWORD={{db_converter_and_sync_sql_password}}
POSTGRES_DB={{db_converter_and_sync_sql_db}}

# SQLite Generator Configuration
SQLITE_OUTPUT_PATH=/app/sqllite_files

# Dynamic Table Configuration for SQLite Generator
# TABLE_CONFIG expects a JSON array of strings in the format "table_name,true/false"
# true = export schema AND data
# false = export schema ONLY (no data)
TABLE_CONFIG='{{ db_converter_tables | to_json }}'

# Auth Configuration
JWKS_URL={{ db_converter_and_sync_jwks_url }}
