
database:
    name: psycopg2
    args:
        user: "{{ matrix_db_user }}"
        password: "{{ matrix_db_password }}"
        database: "{{ matrix_db_name }}"
        host: postgres_matrix
        port: 5432
        cp_min: 5
        cp_max: 10


enable_registration: true
# users require an email to sign up - needed for password resets
registrations_require_3pid:
  - email
#enable_registration_captcha: true
#recaptcha_public_key: <recaptcha site key>
#recaptcha_private_key: <recaptcha private key>

email:
  # The hostname of the outgoing SMTP server to use. Defaults to 'localhost'.
  #
  smtp_host: smtp.gmail.com

  # The port on the mail server for outgoing SMTP. Defaults to 25.
  #
  smtp_port: 587

  # Username/password for authentication to the SMTP server. By default, no
  # authentication is attempted.
  #
  smtp_user: "{{ matrix_email_smtp_user }}"
  smtp_pass: "{{ matrix_email_smtp_password }}"


  require_transport_security: false

  # notif_from defines the "From" address to use when sending emails.
  # It must be set if email sending is enabled.
  #
  # The placeholder '%(app)s' will be replaced by the application name,
  # which is normally 'app_name' (below), but may be overridden by the
  # Matrix client application.
  #
  # Note that the placeholder must be written '%(app)s', including the
  # trailing 's'.
  #
  notif_from: "Your Friendly %(app)s homeserver <noreply@yourdomain.com>"

  # app_name defines the default value for '%(app)s' in notif_from and email
  # subjects. It defaults to 'Matrix'.
  #
  app_name: HomeLab


# allows people to change their email address
enable_3pid_changes: true
# allows searching of all users in directory
user_directory.search_all_users: true
# allow room access over federation
matrix_synapse_allow_public_rooms_over_federation: true
# enable federation on port 443
serve_server_wellknown: true

# Android issue
public_baseurl: "https://matrix.{{ subdomain }}" 

oidc_providers:
  - idp_id: authentik
    idp_name: authentik
    discover: true
    allow_existing_users: true
    issuer: "https://authentik.kleovate.online/application/o/matrix/"
    client_id: "{{ authentik_matrix_client_id_local }}"
    client_secret: "{{ authentik_matrix_client_secret_local }}"
    scopes:
      - "openid"
      - "profile"
      - "email"
    user_mapping_provider:
      config:
        {% raw %}
        localpart_template: "{{ user.preferred_username }}"
        display_name_template: "{{ user.name|capitalize }}"
        {% endraw %}

jwt_config:
  enabled: true
  secret: "*client_secret*"
  algorithm: "RS256"
