---
- name: Install required packages
  package:
    name:
      - snapraid
      - btrfs-progs
      - git
      - snapper
      - python3
      - python3-pip
    state: present
  tags: snapraid

- name: Create SnapRAID content directory
  file:
    path: "{{ snapraid_content_path }}"
    state: directory
    mode: '0755'
  tags: snapraid

- name: Check if data disks are using BTRFS
  command: "findmnt -n -o FSTYPE {{ item.path }}"
  register: fstype_results
  changed_when: false
  failed_when: false
  loop: "{{ data_disks }}"
  tags: snapraid

- name: Verify BTRFS for data disks
  fail:
    msg: "Data disk {{ item.item.path }} is not formatted as BTRFS. Please format it as BTRFS first."
  when: item.stdout != "btrfs"
  loop: "{{ fstype_results.results }}"
  tags: snapraid

- name: Create Snapper configurations for data disks
  command: "snapper -c {{ item.name }} create-config {{ item.path }}"
  register: snapper_result
  failed_when: snapper_result.rc != 0 and "subvolume already covered" not in snapper_result.stderr
  changed_when: snapper_result.rc == 0
  loop: "{{ data_disks }}"
  tags: snapraid

- name: Configure Snapper settings for each data disk
  lineinfile:
    path: "/etc/snapper/configs/{{ item[0].name }}"
    regexp: "^{{ item[1].key }}="
    line: "{{ item[1].key }}={{ item[1].value }}"
    state: present
  with_nested:
    - "{{ data_disks }}"
    - "{{ snapper_settings }}"
  tags: snapraid


- name: Gather mount facts
  ansible.builtin.setup:
    gather_subset:
      - mounts
  tags: snapraid

- name: Process each disk configuration
  include_tasks: mount_content_subvolume.yml
  loop: "{{ data_disks }}"
  loop_control:
    loop_var: disk_config
  tags: snapraid

- name: Reload systemd daemon
  ansible.builtin.systemd:
    daemon_reload: true
  tags: snapraid

- name: Mount all filesystems
  ansible.builtin.command: mount -a
  changed_when: false
  tags: snapraid

- name: Clone snapraid-btrfs repository
  git:
    repo: "{{ snapraid_btrfs_git_url }}"
    dest: "{{ snapraid_btrfs_install_path }}"
    version: master
  tags: snapraid

- name: Install snapraid-btrfs script
  file:
    src: "{{ snapraid_btrfs_install_path }}/snapraid-btrfs"
    dest: /usr/local/bin/snapraid-btrfs
    state: link
    mode: '0755'
  tags: snapraid
