---
- name: Create Cron job for DB backup
  include_role:
    name: common
    tasks_from: cronjob
  vars:
    app_name: "{{ db_backup_app_name }}"
    cron_schedule: "{{ backup_schedule_cron }}"
    cron_script_to_run: "/bin/bash /backup.sh"
    notification_message: "{{ notification_message_subject }}"
  tags: db_backup

- name: Template the DB backup initialization script
  vars:
    app_name: "{{ db_backup_app_name }}"
    container_name: "{{ container_name_running_postgresdb }}"
    db_backup_retain: "{{ db_backup_retain_for_days}}"
    db_name: "{{ db_to_backup_name }}"
    db_user: "{{ db_to_backup_user }}"
    db_to_backup_password: "{{ db_to_backup_password }}"
  template:
    src: templates/db_backup_entrypoint.sh.j2
    dest: "{{ cron_local_scripts_path }}/db_backup_entrypoint.sh"
    mode: '0755'
  tags: db_backup

- name: Run script inside Docker container
  community.docker.docker_container_exec:
    container: cron_runner
    command: /bin/bash /scripts/db_backup_entrypoint.sh
  register: result
  tags: db_backup

- name: Display success message
  ansible.builtin.debug:
    msg: "Script executed successfully."
  when: 
    - result.rc == 0
  tags: db_backup

- name: Display failure message
  ansible.builtin.debug:
    msg: "Script execution failed. Return code: {{ result.rc }}"
  when: 
    - result.rc != 0
  tags: db_backup

- name: Cron job initiated for backup
  debug:
    msg: "Cron job for backup is running successfully"
  tags: db_backup