---
- name: Ensure Docker service is running and setup user access
  include_role:
    name: common
    tasks_from: setup_docker_user
  vars:
    target_user: "{{ docker_user }}"
  tags: db_backup

- name: Get user information
  getent:
    database: passwd
    key: "{{ docker_user }}"
  tags: db_backup

- name: Set UID and GID facts
  set_fact:
    target_uid: "{{ getent_passwd[docker_user][1] }}"
    target_gid: "{{ getent_passwd[docker_user][2] }}"
  tags: db_backup

- name: Create directory
  file:
    path: "{{ directory_item }}"
    state: directory
    owner: "{{ target_uid }}"
    group: "{{ target_gid }}"
    mode: "0755"
  loop:
    - "{{ cron_nas_all_apps_path + '/' + db_backup_app_name + '/db_backups' }}"
  loop_control:
    loop_var: directory_item
  tags: db_backup

- name: Create Cron job for DB backup
  include_role:
    name: common
    tasks_from: cronjob
  vars:
    app_name: "{{ db_backup_app_name }}"
    cron_schedule: "{{ backup_schedule_cron }}"
    cron_script_to_run: "/bin/bash /scripts/{{ db_backup_app_name }}.sh"
    notification_message: "{{ notification_message_subject }}"
  tags: db_backup

- name: Template the DB backup initialization script
  vars:
    app_name: "{{ db_backup_app_name }}"
    container_name: "{{ container_name_running_postgresdb }}"
    db_backup_retain: "{{ db_backup_retain_for_days}}"
    db_name: "{{ db_to_backup_name }}"
    db_user: "{{ db_to_backup_user }}"
    db_to_backup_password: "{{ db_to_backup_password }}"
  template:
    src: templates/script_used_in_cronjob.sh.j2
    dest: "{{ cron_nas_scripts_path }}/{{ db_backup_app_name }}.sh"
    owner: "{{ target_uid }}"
    group: "{{ target_gid }}"
    mode: '0755'
  tags: db_backup

- name: Cron job initiated for backup
  debug:
    msg: "Cron job for backup is running successfully"
  tags: db_backup