---
- name: Make sure the cron_runner container is running(Needed for notification)
  include_role:
    name: common
    tasks_from: cronjob
  vars:
    no_cron_change: true
  tags: host_cronjob

- name: Create directory
  file:
    path: "{{ item }}"
    state: directory
    owner: root
    group: root
    mode: "0755"
  loop:
    - "{{ host_cron_scripts_path }}"
  tags: host_cronjob

- name: Upsert job block (creates file if missing)
  blockinfile:
    path: "{{ host_cron_scripts_path }}/custom_cronfile"
    marker: "# {mark} NAME: {{ host_cron_app_name }}"
    block: |
      {{ host_cron_schedule }} ( {{ host_cron_script_to_run }} 2>&1 ; echo EXIT:$? ) | docker exec cron_runner python3 /scripts/matrix_notify.py "{{ host_cron_notification_message }}"
    create: true
    insertafter: EOF
    mode: '0644'
    owner: root
    group: root
  tags: host_cronjob

# - name: Run crontab in host
#   command: crontab /etc/cron.d/custom_cronfile
#   tags: host_cronjob
