---
- name: Make sure the cron_runner container is running(Needed for notification)
  include_role:
    name: common
    tasks_from: cronjob
  vars:
    no_cron_change: true
  tags: host_cronjob

- name: Create directory
  file:
    path: "{{ directory_item }}"
    state: directory
    owner: root
    group: root
    mode: "0755"
  loop:
    - "{{ host_cron_scripts_path }}"
  loop_control:
    loop_var: directory_item
  tags: host_cronjob

- name: Upsert job block (creates file if missing)
  blockinfile:
    path: "{{ host_cron_scripts_path }}/custom_cronfile"
    marker: "# {mark} NAME: {{ host_cron_app_name }}"
    block: |
      {{ host_cron_schedule }} bash -c 'out=$( {{ host_cron_script_to_run }} 2>&1 ); ec=$?; printf "\%s\nEXIT:\%s\n" "$out" "$ec" | /usr/bin/docker exec -i cron_runner python3 /scripts/matrix_notify.py "{{ host_cron_notification_message }}" exit "$ec";'
    create: true
    insertafter: EOF
    mode: '0644'
    owner: root
    group: root
  tags: host_cronjob

- name: Run crontab in host
  command: crontab /etc/cron.d/custom_cronfile
  tags: host_cronjob
