---
- name: Uninstall conflicting Docker/Container packages
  ansible.builtin.apt:
    name:
      - docker.io
      - docker-compose
      - docker-compose-v2
      - docker-doc
      - podman-docker
      - containerd
      - runc
    state: absent
    purge: true

- name: Install docker dependencies
  ansible.builtin.apt:
    name:
      - ca-certificates
      - curl
    # update_cache: true

- name: Create directory for apt keyrings
  ansible.builtin.file:
    path: /etc/apt/keyrings
    state: directory
    mode: '0755'

- name: Add docker gpg key
  ansible.builtin.get_url:
    url: https://download.docker.com/linux/ubuntu/gpg
    dest: /etc/apt/keyrings/docker.gpg
    mode: '0644'
  
- name: Get Ubuntu codename from /etc/os-release
  ansible.builtin.shell: . /etc/os-release && echo "$VERSION_CODENAME"
  args:
    executable: /bin/bash
  register: ubuntu_codename
  changed_when: false

- debug:
    msg: "codename={{ ubuntu_codename.stdout }}"

- name: Add Docker repository to sources.list.d
  ansible.builtin.copy:
    dest: /etc/apt/sources.list.d/docker.sources
    content: |
      Types: deb
      URIs: https://download.docker.com/linux/ubuntu
      Suites: {{ ubuntu_codename.stdout }}
      Components: stable
      Signed-By: /etc/apt/keyrings/docker.asc
    mode: '0644'

- name: Install docker engine
  ansible.builtin.apt:
    name:
      - docker-ce
      - docker-ce-cli
      - containerd.io
      - docker-buildx-plugin
      - docker-compose-plugin
    state: present
    update_cache: true

- name: Add user to the docker group
  ansible.builtin.user:
    name: "{{ default_user }}"
    groups: docker
    append: true

- name: install python sdk
  apt:
    name: 
    - python3-docker
    state: present

