{
  "ConnectionStrings": {
    "DefaultConnection": "Host={{ authenticator_sql_host }}:{{ authenticator_sql_port }};Database={{ authenticator_sql_db }};Username={{ authenticator_sql_user }};Password={{ authenticator_sql_password }}",
    "Redis": "{{ authenticator_redis_host }}:{{ authenticator_redis_port }}"
  },
  "JwtSettings": {
    "Issuer": "Kleovate.Authenticator",
    "Audience": "Kleovate.Apps",
    "SecretKey": "ThisIsASecretKeyForDevelopmentOnly_ReplaceInProduction_MustBe32BytesOrLonger",
    "ExpirationInMinutes": 60,
    "RefreshTokenExpirationInDays": 7,
    "VerificationTokenExpirationInHour": 1,
    "Token2FaExpirationInMinutes": 5
  },
  "CacheSettings": {
    "PasskeyExpirationInMinutes": 5
  },
  "RateLimitSettings": {
    "MaxFailedAttempts": 5,
    "WindowInMinutes": 5,
    "BlockDurationInMinutes": 15
  },
  "AppDomainSettings": {
    "Url": "https://{{ authenticator_domain }}",
    "UseClientApplicationBaseUriForEmails": false,
    "EmailVerificationPath": "/verify-email",
    "EmailChangePath": "/email-change",
    "PasswordResetPath": "/reset-password"
  },
  "EmailSettings": {
    "SmtpHost": "smtp.gmail.com",
    "SmtpPort": 587,
    "SmtpUsername": "{{ authenticator_smtp_user }}",
    "SmtpPassword": "{{ authenticator_smtp_password }}",
    "FromAddress": "{{ authenticator_email_from }}",
    "FromName": "Kleovate Authenticator"
  },
  "fido2": {
    "serverDomain": "authenticator.kleovate.online",
    "serverName": "Kleovate Authenticator",
    "origin": "https://authenticator.kleovate.online"
  },
  "Logging": {
    "LogLevel": {
      "Default": "Information",
      "Microsoft.AspNetCore": "Warning"
    }
  },
  "ExternalLoginSettings":{
    "Google": {
      "ClientIds":[
        "492209677707-8iee3brstmnhgtps327pl6s6215frqi7.apps.googleusercontent.com",
        "492209677707-96ee1kc4nf84ne2j1o1trsrueub40o9v.apps.googleusercontent.com",
        "492209677707-bcdjd07cbl2akra9im1nvhu2e3htf3vk.apps.googleusercontent.com"
      ]
    }
  },
  "WellKnownSettings": {
    "AndroidApps": [
      {
        "PackageName": "com.example.quran_app",
        "Sha256Fingerprints": [
          "90:7E:4F:A5:4A:0F:8D:DD:CA:F4:54:56:12:DC:08:1D:77:08:AD:F5:DC:20:3C:6B:CA:36:7F:93:84:A0:E0:F0"
        ]
      }
    ],
    "IosApps": [
      {
        "TeamId": "",
        "BundleId": ""
      }
    ]
  },
  "AllowedHosts": "*"
}
