---
# - name: Ensure Docker service is running and setup user access
#   include_role:
#     name: common
#     tasks_from: setup_docker_user
#   vars:
#     target_user: "{{ docker_user }}"

- name: Ensure docker networks exist
  community.docker.docker_network:
    name: "{{ network_item }}"
    state: present
  loop:
    - traefik_proxy
    - docker_ai_network
  loop_control:
    loop_var: network_item

- name: Get user information
  getent:
    database: passwd
    key: "{{ docker_user }}"

- name: Set UID and GID facts
  set_fact:
    target_uid: "{{ getent_passwd[docker_user][1] }}"
    target_gid: "{{ getent_passwd[docker_user][2] }}"

- name: Create OpenWebUI directory
  file:
    path: "{{ item }}"
    state: directory
    owner: "{{ target_uid}}"
    group: "{{ target_gid }}"
    recurse: true
    mode: "0755"
  loop:
    - "{{ openwebui_data_dir }}"

- name: Deploy OpenWebUI container
  docker_container:
    name: openwebui
    image: ghcr.io/open-webui/open-webui:main
    hostname: openwebui
    # user: "{{ target_uid }}:{{ target_gid }}" # doen't work properly
    volumes:
      - "{{ openwebui_data_dir }}:/app/backend/data"
    env:
      OLLAMA_BASE_URL: "http://ollama:11434"
      # Authentik OAuth settings
      OAUTH_CLIENT_ID: "{{ openwebui_authentik_client_id_local }}"
      OAUTH_CLIENT_SECRET: "{{ openwebui_authentik_client_secret_local }}"
      OAUTH_PROVIDER_NAME: "authentik"
      OPENID_PROVIDER_URL: "https://{{ authentik_domain }}/application/o/{{ openwebui_authentik_slug }}/.well-known/openid-configuration"
      OPENID_REDIRECT_URI: "https://{{ openwebui_domain }}/oauth/oidc/callback"
      WEBUI_URL: "https://{{ openwebui_domain }}"
      ENABLE_OAUTH_SIGNUP: "true"
      ENABLE_LOGIN_FORM: "false"
      OAUTH_MERGE_ACCOUNTS_BY_EMAIL: "true"
    labels:
      com.docker.compose.project: "AI_stack"
      com.docker.compose.service: "openwebui"
      traefik.docker.network: "traefik_proxy"
      traefik.enable: "true"
      traefik.http.routers.openwebui-secure.entrypoints: "https"
      traefik.http.routers.openwebui-secure.rule: "Host(`{{ openwebui_domain }}`)"
      traefik.http.routers.openwebui-secure.tls: "true"
      traefik.http.routers.openwebui-secure.service: "openwebui"
      traefik.http.services.openwebui.loadbalancer.server.port: "8080"
      # tsdproxy.enable: "true"
      # tsdproxy.name: "openwebui"
      # tsdproxy.scheme: "http"
      # tsdproxy.tlsvalidate: "false"
      # tsdproxy.container_port: "8080"
    networks:
      - name: traefik_proxy
      - name: docker_ai_network
    restart_policy: unless-stopped
    state: started

- name: OpenWebUI deployed
  debug:
    msg: "OpenWebUI is running successfully"

